<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorldServices" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2224/HelloWorldService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorldServices"
                contract="IHelloWorldServices" name="WSHttpBinding_IHelloWorldServices">
                <identity>
                    <userPrincipalName value="Abhishek\Abhishek Gopalan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>